
<style>
*{
    font-size:17px

}
span{
    font-size:20px;
    font-weight:bold;
}
.{}

         
            
        }
</style>

    <div class="">
   
    <nav class="navbar position-fixed fixed-top shadow" style="height:80px; background-color:white !important;">
            <ul class="nav pull-right top-nav "> 
                <li>
                    <span><img src="~/img/dit-logo-transparent.png"alt="..." width="70" class="rounded-circle"><span class="text-white" style="color:white;">  john </span></span>
                    
                
                </li>
            </ul>
    
    
    
            <!-- top right side -->
        </nav>
        <div id="slider" class="sidebar">
            <i  class="close bg-success"></i>
           
            <ul class=" navbar-nav side-nav">
                 <li class="active">
                    <a  asp-action="Apply" asp-controller="Home"><i class="fa fa-fw fa-dashboard"></i> <i class="hide-s">Dashboard</i></a>
                </li>                
                <li>
                    <a  asp-action="profile" asp-controller="Home"><i class="fa fa-fw fa-users"> </i><i class="hide-s">Student list</i></a>
                </li>
                <li>
                   <a  asp-action="Views_status" asp-controller="Home"><i class="fa fa-fw fa-user"> </i> <i class="hide-s">profile</i></a>                    
                </li>
                <li>
                   <a  ><i class="fa fa-fw fa-road"> </i> <i class="hide-s">Logout</i></a>                    
                </li>
            </ul>
    
    
    
            
        </div>   
<div id="main">
    <div  class=" ">
         <div class="container">
              <div class="screen">
                   <div class="">


                    

         <div class="row shadow bg-white">
                <div class="col-lg-4 mb-5  " style="margin-top:2rem;">
                <div class="col-lg-8 pr-5" style="min-height: 400px;">
                <div class="position-relative bg-dark-radial h-100 ms-5">
                    <div class="">
                    <img class="position-absolute w-100 h-100   " width="300" height="400" max-height=""  src="~/img/sound.jpg" style="object-fit: cover; margin:0px; ">
                    </div>
                   
                </div>
            </div>
                </div>
                <div class="col-lg-8" style="margin-top:2rem;">
                    <div class="bg-white p-5">      
                            <div class="row ">
                                <div class="col-12 col-sm-6 m-4  ">
                                    <label for="first name">FIRST NAME</label>
                                    <input type="text" value="JOHN" class="form-control shadow bg-white border-0" style="height: 55px;">
                                </div>
                                
                                <div class="col-12 col-sm-6 ">
                                <label for="EMAII">EMAIL</label>
                                    <input type="email"  value="JOHNDEO@gmial.com " class="form-control shadow bg-white border-0"  style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">                                
                                    <label for="LAST name">LAST NAME</label>
                                        <input type="text"   value="DEO "class="form-control shadow bg-white border-0 datetimepicker-input" style="height: 55px;">
                                </div><br>
                                <div class="col-12 col-sm-6">
                                    <label for="DEPARTIMENT">DEPARTIMENT</label>
                                        <input type="text" value="DEPARTIMENT"      class="form-control shadow bg-white border-0 datetimepicker-input" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="PHONE">PHONE NUMBER</label>
                                    <input type="text"   value=" 555-555-555 " class="form-control shadow bg-white border-0" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="PHONE">PHONE NUMBER</label>
                                    <input type="text"  value=" 555-555-555 " class="form-control shadow bg-white border-0" style="height: 55px;">
                                </div>
                            
                                
                            <div class=" my-5 pull-right" style="margin:1rem 2rem; ">
                                <a href="#" class="btn btn-info" style="padding:1rem 4rem;">Edit the Profile</a>
                                </div> 
                    </div>
                </div>
            </div>
    
  
                    </div>
                </div>
            </div>
    </div>

                
 

                      

                            










































                            
                      </div>

                   </div>
                     
                </div>  
            </div>
        </div>
  </div>
