<style>
 .card{
    border-top:solid 3px grey;
    border-radius:9px;
 }
 </style>
<nav class="navbar navbar-light bg-light shadow" style="background-color:white !important; height:110px">
  <a class="navbar-brand" href="#">
    <img src="~/img/dit-logo-transparent.png"  height="90" class="d-inline-block align-top" alt="">
 
  </a>
</nav>
<div class="container" >
<br>
<div class="row">
        <div class="col-md-4 bg-dark p-4" >
            <div class="card login">
                <div class="card-header h4 text-center"> Login Information</div>
                <div class="card-body">
                    <h5 class="text-success " style="font-weight:bold; ">Upon successful Account Creation.</h5><br>
                    <p> Applicant should use Form IV Index No <span> SXXXX/XXXX/YYYY</span> OR Equivalent Award Index No <span> EQYYYXXXXXX/YYYY</span> As Username And UPPERCASE surname As Password</p><br>
                    <p>If Applicant Name:<span> Israel Maduhu Kangwe</span> as per NECTA registration then</p><br>

                    <p>Example Username :<span> S0100/0007/2022 or EQ2019003390/2020</span></p><br>
                    <p>Example Password :<span> KANGWE<span></p><br>
                    <p>If you have already Registered</p>
                    <button class="btn btn-primary">Click Here To Login</button>
                    <br><br>
                    <span>Admission Officer:+255755089545, +255782337971,+255752475232</span>




                </div>

            </div>
        
        </div>
        <div class="col-md-8 my-4" >

        <div class="card">
         <div class="card-header my-5 d-flex align-items-center" style="padding:1px 20px 50px 40px  ">  
                 <a class="navbar-brand  d-flex align-items-center" href="#" style="padding-left:288px;padding-top:0; ">
                    <img src="~/img/soma-icon.png"  height="90" class="d-inline-block align-top" alt="">
                
                </a>
         </div>
         <span class="h5 text-primary text-center">Application Form</span>
         <div class="card-body">
         <input value="Please Select below the Level you are applying for:" disabled class="form-control  shadow">
         <br>
         @* <form > *@

                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="inputEmail4">Secondary Education</label>
                     <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                    <label for="inputPassword4">Form IV Index No</label>
                    <input type="password" class="form-control" id="inputPassword4">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="inputEmail4">Email Address</label>
                    <input type="email" class="form-control is-invalid" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">Confirm Email Address
                    <input type="password" class="form-control" id="inputPassword4">
                    </div>
                </div>
                </div>

                

                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="inputEmail4">Active Phone Number</label>
                    <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="inputPassword4">Confirm Active Phone Number</label>
                    <input type="password" class="form-control is-valid" id="inputPassword4">
                    </div>
                    </div>
                
                

               

                 
       <div class="form-group "style="margin:22px;">
        <input class="btn btn-primary form-control " value="Register">
       </div>
       <p class="text-center">By clicking Register, you're confirming that you've read our Terms & Conditions</p>


        

               
         @* </form> *@



         </div>

        
          </div>
        
        </div>
</div>
</div>