@* <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB</title>
    

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/css.min.css" rel="stylesheet">
    <link href="css/csstcard.min.css" rel="stylesheet">
    <link href="css/shadow.min.css" rel="stylesheet">
    <link href="css/border.min.css" rel="stylesheet">
    
    <!-- <link rel="stylesheet" href="css/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/css/bootstrap.min.css"> -->
    <!-- Custom CSS -->
    <link href="css.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
       
      
    </style>

   
</head>

<body> *@

    <div class="">
   
    <nav class="navbar position-fixed fixed-top" style="height:80px; background-color:white;">
            <ul class="nav pull-right top-nav "> 
                <li>
                    <span><img src="../image/profile-removebg-preview.png" alt="..." width="70" class="rounded-circle"><span class="text-white" style="color:white;">  john </span></span>
                    
                   
                </li>
            </ul>
    
    
    
            <!-- top right side -->
        </nav>
        <div id="slider" class="sidebar">
            <i  class="close bg-success">&times;</i>
           
            <ul class=" navbar-nav side-nav">
                <li class="active">
                    <a href="index.php"><i class="fa fa-fw fa-wheat"></i> Dashboard</a>
                </li>
                
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"> </i> My Profile</a>
                </li>
                <li>
                   <a href="#" ><i class="fa fa-fw fa-signout"> </i> Logout</a>                    
                </li>
            </ul>
    
    
    
            
        </div>   
        <div id="main">
            <div  class=" ">
                
            </div>
                    <div class="container">
                    <div class="row "style="margin-left:190px;">
                    


                    <!-- here the form  -->
                    <div class="card">
                         <div class="card-body">
                            <form action="">
                                <div class="form-body">
                                    <label for="name">User Name</label>
                                    <input type="text" class="form-control" placeholder="Enter userName">
                                </div>
                                <div class="form-body">
                                    <label for="name">User Name</label>
                                    <input type="text" class="form-control" placeholder="Enter userName">
                                </div>
                            </form>
                         </div>
                    </div>
 
                    </div>
                </div>  
            </div>
        </div>
    </div>

@* 
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html> *@
